.createaccount-container h2 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-bottom: 5vh;
}

.createaccount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createaccount-container form {
  width: 25vw;
}

.createaccount-container label {
  font-size: medium;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.createaccount-container label > input[type="checkbox"] {
  flex: none;
  margin-right: 10px;
}

.createaccount-container button {
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  color: rgb(220, 216, 216);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.createaccount-container button:hover {
  background-color: darkgray;
  cursor: pointer;
}

.createaccount-container input[type="text"],
.createaccount-container input[type="password"] {
  border: none;
  border-bottom: 2px solid rgb(117, 117, 117);
  background-color: transparent;
  padding: 2px;
  margin: 0;
  margin-bottom: 5vh;
  font-size: medium;
  display: block;
  width: 100%;
}

.createaccount-container ::placeholder {
  font-size: medium;
}
